<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="btn btn-default navbar-btn" id="scrape">Scrape New Articles</button>
      <div class="navbar-brand">
        <p>Mongo Scraper</p.
      </div>
    </div>
    <p class='navbar-text'>Home</p>
    <p class='navbar-text'>Saved Articles</p>
  </div>
</nav>

<div class='container'>
  <div class='col-md-12 jumbotron'>
    <div class='text-center'>
      <h1> NYT Mongo Scaper</h1>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      {{#if article}}
        {{#each article}}
          {{>article-panel}}
        {{/each}}
      {{else}}
      <div class ='panel panel-default'>
        <div class='panel-body'>
          <h4> No New Articles To Add</h4>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</div>